@model IEnumerable<OnlineInstrumentStore.Models.OrderViewModel>

@{
    ViewBag.Title = "IndexOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Instrument Name
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            Delivery Address
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDInstrumentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDOrder }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDOrder }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
            </td>
        </tr>
    }

</table>


