@model IEnumerable<OnlineInstrumentStore.Models.InstrumentModels>

@{
    ViewBag.Title = "IndexInstrument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Instrument</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Instrument Name", "Index", new { sortOrder = ViewBag.NameSortParam })

        </th>

        <th>
            @Html.ActionLink("Instrument Type", "Index", new { sortOrder = ViewBag.TypeSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price) RON
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.InstrumentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InstrumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="font-size:12px;">
                <br />
                <br />
                @if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IDInstrument })
                    <br />
                    @Html.ActionLink("Add To Cart", "Create", "Order", new { id = item.IDInstrument }, null)
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IDInstrument })
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDInstrument })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDInstrument })
                }


            </td>
        </tr>
    }

</table>
