@model IEnumerable<OnlineInstrumentStore.Models.InstrumentModels>

@{
    ViewBag.Title = "IndexInstrument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Instrument</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("Instrument Name", "Index", new { sortOrder = ViewBag.NameSortParam })

        </th>
        
        <th>
            @Html.ActionLink("Instrument Type", "Index", new { sortOrder = ViewBag.TypeSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDInstrument }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDInstrument }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDInstrument })
            @Html.ActionLink("Add To Cart", "Create", "Order", new { id = item.IDInstrument }, null) 
        </td>
    </tr>
}

</table>
