@model OnlineInstrumentStore.Models.InstrumentModels

@{
    ViewBag.Title = "InstrumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InstrumentDetails</h2>

<div>
    <h4>InstrumentModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDInstrument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDInstrument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDInstrument }) |
    @Html.ActionLink("Back to List", "Index")
</p>
