@model IEnumerable<OnlineInstrumentStore.Models.ManufacturerModels>

@{
    ViewBag.Title = "IndexManufacturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Manufacturers</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("Manufaturer Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td style="font-size:12px;">
                @if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IDManufacturer })
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IDManufacturer })
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDManufacturer })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDManufacturer })
                }

            </td>
        </tr>
    }

</table>
